.bigPhoto img {
  width: 100%;
  object-fit: cover;
  height: 200px;
}

.profilePic {
  left: 10px;
  bottom: 20px;
  border-radius: 50%;
  background-color: rgb(192, 187, 187);
  position: absolute;
  border: 3px solid #242526;
  overflow: hidden;
}
.profileAndName {
  position: relative;
  width: 100%;
  height: 60px;
  border-top: none;
  border-bottom: 3px solid rgb(99, 96, 96);
  border-left: 3px solid rgb(99, 96, 96);
  border-right: 3px solid rgb(99, 96, 96);
  backdrop-filter: blur(30px);
  background-color: #2425265c;
}

.profilePic img {
  width: 100px;
  height: 100px;
}
.profileName {
  margin-left: 130px;
}
.profileContainer {
  overflow-y: scroll;
  border: 3px solid rgb(99, 96, 96);
  height: 585px;
  padding-top: 10px;
}
.intro {
  border: 3px solid rgb(99, 96, 96);
}
.divImput {
  padding: 10px;
}
.imgInput img {
  background-color: #c0bbbb;
  width: 50px;
  border-radius: 50%;
  height: 50px;
  margin-right: 10px;
  border: 3px solid #242526;
}
.divImput input {
  border: 1px solid grey;
  outline: none;
  border-radius: 30px;
  background-color: transparent;
  padding-left: 10px;
  color: white;
}
