body {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("image1.png");
  height: 100vh;
  width: 100%;
  backdrop-filter: blur(5px);
}
* {
  color: white;
}
